@use "./variables.scss" as *;

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin font-style($size, $line-height, $weight, $font-family) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  font-family: $font-family;
}

// Button Mixin
@mixin button($bg-color, $text-color, $hover-bg-color) {
  background: $bg-color;
  color: $text-color;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: $border-radius-sm;
  font-size: $font-size-base;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $hover-bg-color;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

// Input Mixin
@mixin input {
  padding: 0.75rem;
  border: none;
  border-radius: $border-radius-sm;
  font-size: $font-size-base;
  color: $dark-blue-text;
  background-color: $white;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    border: 2px solid $light-blue;
    box-shadow: 0 0 5px $light-blue;
  }
}

@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// Transition Mixin
@mixin transition($property: all, $duration: 0.3s, $timing: ease-in-out) {
  transition: $property $duration $timing;
}
