@use "./variables.scss" as *;

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin font-style($size, $line-height, $weight, $font-family) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  font-family: $font-family;
}
