@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.profile {
  background: linear-gradient(135deg, #0c2f47, #31809d);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;

  &__link {
    display: flex;
    text-decoration: none;
    font-size: 2rem;
    gap: 0.75rem;
    padding: 1rem;
    color: $light-blue;
  }

  &__icon {
    height: 40px;
    width: 30px;
  }
}
