@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.footer {
  width: 100%;
  padding: 2rem 1rem;
  background-color: $white;

  @include tablet {
    padding: 3rem 2rem;
    @include font-style(0.875rem, 1.125rem, 400, sans-serif);
  }
}
