@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.photoCardList {
  @include flex(column, center, center, $spacing-sm);
  padding: $spacing-sm;

  @include tablet {
    padding: $spacing-md;
  }

  &__loading,
  &__error,
  &__empty {
    text-align: center;
    font-size: $font-size-base;
    color: $dark-blue-text;
    padding: $spacing-lg;
  }
}
