@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.photoCardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  @include tablet {
    padding: 1.5rem;
  }

  &__loading,
  &__error,
  &__empty {
    text-align: center;
    font-size: 1rem;
    color: $dark-blue-text;
    padding: 2rem;
  }
}
